<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
<div class="container-fluid">
  <div id="left-cont">
  <div id="menu">
      Theo's Ubiquity Project
    </div>
  <div class="reminder-cont">


      <div class="reminder">
        <div class="name"><%=Time.now.strftime("%H:%M")%></div>
        <div class="desc">Plan the future</div>


        <div class="delete"></div>
      </div>
      <div class="reminder">
        <div class="name"><%=Time.now.strftime("%H:%M")%></div>
        <div class="desc">Live in the now</div>


        <div class="delete"></div>
      </div>
      <div class="reminder">
        <div class="name"><%=Time.now.strftime("%H:%M")%></div>
        <div class="desc">Recall the past</div>


        <div class="delete"></div>
      </div>
      <div class="reminder">
        <div class="name"></div>
        <div class="desc">Sign up</div>


        <div class="delete"></div>
      </div>
  </div>
  </div>

  <div class="control">
    <div id="x-1">

          <i class="bi bi-app" style="font-size: 5vh;"></i>

    </div>
    <div id="x-2">
      <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-3">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-4">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-5">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-6">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-7">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-8">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-9">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
  </div>
</div>
