<%= stylesheet_link_tag "landing", "data-turbo-track": "reload" %>
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div id="content" class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <h1 class="fw-light text-white m-0">Ubiquity Project</h1>
    <br>
    <h3 class="fw-light text-white m-0">Request a demo</h3>
    <div class="btn-group my-5">
      <a href="https://codepen.io/P1N2O/full/pyBNzX" class="btn btn-outline-light">help@ubiquityproject.co.uk<i class="fas fa-expand ms-2"></i></a>
    </div>
    <h5 class="fw-light text-white m-0">Prepare for what’s ahead, be present in the now, and remember what’s been.</h5>

  </div>
</div>
