<%= stylesheet_link_tag "request_demo", "data-turbo-track": "reload" %>
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div id="content" class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <h1 class="fw-light text-white m-0">Ubiquity Project</h1>
    <br>
    <h3 class="fw-light text-white m-0">Request a demo</h3>
    <div class="btn-group my-5">
      <p id="email" style="color: white; border-bottom: solid;"> help@ubiquityproject.co.uk </p>
    </div>
    <h5 class="fw-light text-white m-0">Prepare for what's ahead</h5>
    <h5 class="fw-light text-white m-0">Be present in the now</h5>
    <h5 class="fw-light text-white m-0">and remember what's been</h5>

  </div>
</div>
