.container-fluid {
  background-color: #C7BDFA;
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

#left-cont {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#top-left {
  margin-top: 2vh;
  min-height: 8vh;
  min-width: 5vh;
  margin-bottom: 2vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px inset;
  border-radius: 5px;

}

#l-times {
  display: flex;
  flex-direction: column;
  height: 82vh;
  overflow: auto;
  border-top: solid;
}

#top-right {
  margin-top: 2vh;
  min-height: 8vh;
  min-width: 5vh;
  margin-bottom: 2vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px inset;
  border-radius: 5px;
}

.time-box {
  font-size:4vw;
  height: 6vh;
  width: 6vh;
  margin-top: 3vh;
  margin-bottom: 1.1vh;
  border-radius: 10px;
  border-width: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #CDC1FF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


}
#mid-cont {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.reminder-cont {
  display: flex;
  flex-direction: column;
  height: 82vh;
  overflow: auto;
  border-top: solid;
}
.reminder-cont::-webkit-scrollbar {
  display: none;
}
#menu {
  display: flex;
  min-height: 8vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  align-items: center;
  justify-content:center;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px inset;

}
.reminder {
  display: flex;
  min-height: 8vh;
  margin-top: 2vh;
  border-radius: 10px;
  background-color: #A594f9;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.name {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-left: 2vh;
}


p {
  margin: 0;
}
.delete {
  display: flex;
  align-items: center;
  justify-content:end;
  width: 10%;
}

.control {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.right-bar {
  font-size:4vw;
  height: 6vh;
  width: 6vh;
  margin-top: 3vh;
  margin-bottom: 1.1vh;
  border-radius: 10px;
  border-width: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #CDC1FF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#reminder_name {
  width: 80%;

}

#reminder_description{
  width: 80%;
}

.delete > input {
  width: 50%;
}
