.container-fluid {
  background: linear-gradient(45deg, #d2001a, #7462ff);
  background-size: 300% 300%;
  display: flex;
  height: 100vh;
}

#left-cont {
  width: 20%;
}
#mid-cont {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.reminder-cont {
  display: flex;
  flex-direction: column;
  height: 82vh;
  overflow: auto;
  border-top: solid;
}
.reminder-cont::-webkit-scrollbar {
  display: none;
}
#menu {
  display: flex;
  border-style: solid;
  min-height: 8vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  align-items: center;
  justify-content:center;

}
.reminder {
  display: flex;
  min-height: 8vh;
  margin-top: 2vh;
  border-style: solid;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background: linear-gradient(45deg, #d2001a, #7462ff);
  background-size: 300% 300%;
}

.name {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 28%;
}

.desc {
  width: 62%;
  display: flex;
  align-items: center;
  justify-content:flex-start;

}
p {
  margin: 0;
}
.delete {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 10%;
}

.control {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  align-items: center;

}

#x-1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  min-height: 8vh;
}
#x-2 {
  margin-top: 2vh;
  min-height: 8vh;
}

#x-3 {
  margin-top: 2vh;
  min-height: 8vh;
}
#x-4 {
  margin-top: 2vh;
  min-height: 8vh;
}
#x-5 {
  margin-top: 2vh;
  min-height: 8vh;
}
#x-6 {
  margin-top: 2vh;
  min-height: 8vh;
}

#x-7 {
  margin-top: 2vh;
  min-height: 8vh;
}

#x-8 {
  margin-top: 2vh;
  min-height: 8vh;
}

#x-9 {
  margin-top: 2vh;
  min-height: 8vh;
}
#reminder_name {
  width: 80%;

}

#reminder_description{
  width: 80%;
}

.delete > input {
  width: 50%;
}
